html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;

 
  display: grid;
  place-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px gray;
  width: 500px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 180px;
  font-size: 16px;
}
